:root {
  --main-color: #522a84;
}

body {
  background: #d5def5;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  color: var(--main-color);
  font-family: "Rochester", cursive;
  font-size: 50px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.subheading {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: 40px;
}

.genie-picture {
  position: relative;
  bottom: 10px;
  right: 5px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 8px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.container {
  border-radius: 10px;
  margin: 100px auto;
  max-width: 600px;
}

select {
  background-color: #50c2f7;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: var(--main-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500px;
  text-align: center;
  width: 30%;
}

.select {
  display: flex;
  justify-content: center;
}

select:focus-visible {
  outline: none;
}

.material-symbols-outlined {
  color: var(--main-color);
  margin-left: 2px;
  margin-right: 2px;
}

main {
  text-align: center;
}

form {
  margin-top: 30px;
}

.requested-word {
  background: #eae1f7;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--main-color);
  font-size: 14px;
  padding: 12px;
  width: 100%;
}

::placeholder {
  color: var(--main-color);
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.8;
}

.ask-genie-button {
  background-color: #0f3b7c;
  border: none;
  border-radius: 10px;
  color: #e3bc59;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 15px;
}

.message {
  animation: blink 1.6s linear infinite;
}

@keyframes blink {
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.6;
  }
}

.answer {
  background: #e9e1f7;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  color: var(--main-color);
  font-size: 14px;
  margin-top: 20px;
  padding: 10px;
  text-align: left;
}

.hidden {
  display: none;
}

a {
  color: var(--main-color);
  font-weight: bold;
  text-decoration: none;
}

footer {
  color: #0f3b7c;
  font-size: 13px;
  margin-top: 30px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
}
